<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.cmu.cs.faceswap"
    android:versionCode="3"
    android:versionName="1.2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_playstore"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyGabrielMaterialTheme">
        <activity android:name=".MainActivity2"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            tools:ignore="MissingClass" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CloudletDemoActivity"
            android:label="@string/title_activity_cloudlet_demo"
            android:screenOrientation="portrait"
            android:theme="@style/MyGabrielMaterialTheme" />
        <activity
            android:name="filepickerlibrary.FilePickerActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MyGabrielMaterialTheme" />
        <activity
            android:name="edu.cmu.cs.IO.DirectoryPicker"
            android:label="@string/app_name" />
        <activity
            android:name="edu.cmu.cs.gabriel.GabrielClientActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".IPSettingActivity"
            android:parentActivityName=".CloudletDemoActivity"
            android:theme="@style/MyGabrielMaterialTheme" />
    </application>

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:targetSdkVersion="29" />

</manifest>